
body {
    padding-bottom: 50px;
}

nav#nav-top {
    margin-bottom: 20px;
}

.outline {
    border-width: 1px;
    border-style: solid;
    border-radius: 8pt;
    padding-bottom: 8px;
}

.flex-column .nav-item {
    padding-right: 0 !important;
    margin-bottom: 16px;
}

.nav-pills a:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
}

.nav-pills a.active:hover {
    color: #fff;
}

.battle-init-item {
    padding: 0 !important;
}

.battle-init-img {
    background: white;
    width: 100%;
    border-top-left-radius: calc(.25rem - .0625rem);
    border-top-right-radius: calc(.25rem - .0625rem);
    position: relative;
    object-fit: cover;
    height: 100px;
}

.battle-init-item .card-body {
    padding: 12px;
}

.section-collapse {
    font-weight: 700;
    text-transform: uppercase;
}

.btn-form {
    margin-top: 2.1rem;
}

.table-bordered.border-dark th, .table-bordered.border-dark td {
    border-color: #212529 !important;
}

.table-numbers th:not(:first-child) {
    min-width: 92px;
}

.stats-overflow {
    overflow-x: scroll;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
}

.battle-char-move-item {
    padding: 0 !important;
    text-align: left;
    color: white !important;
    width: 100%;
    margin-bottom: 5px;
}

.battle-char-move-item .card-text {
    font-weight: 400;
}

.bg-t-normal {
    background-color: #A8A878;
    color: white;
}

.bg-t-fire {
    background-color: #F08030;
    color: white;
}

.bg-t-fighting {
    background-color: #C03028;
    color: white;
}

.bg-t-flying {
    background-color: #A890F0;
    color: white;
}

.bg-t-poison {
    background-color: #A040A0;
    color: white;
}

.bg-t-ground {
    background-color: #E0C068;
    color: white;
}

.bg-t-rock {
    background-color: #B8A038;
    color: white;
}

.bg-t-bug {
    background-color: #A8B820;
    color: white;
}

.bg-t-ghost {
    background-color: #705898;
    color: white;
}

.bg-t-steel {
    background-color: #B8B8D0;
    color: white;
}

.bg-t-water {
    background-color: #6890F0;
    color: white;
}

.bg-t-grass {
    background-color: #78C850;
    color: white;
}

.bg-t-electric {
    background-color: #F8D030;
    color: white;
}

.bg-t-psychic {
    background-color: #F85888;
    color: white;
}

.bg-t-ice {
    background-color: #98D8D8;
    color: white;
}

.bg-t-dragon {
    background-color: #7038F8;
    color: white;
}

.bg-t-dark {
    background-color: #705848;
    color: white;
}

.bg-t-fairy {
    background-color: #EE99AC;
    color: white;
}

.bg-t-none {
    background-color: #68A090;
    color: white;
}

.bg-t-normal-gradient {
    background: linear-gradient(87deg, #A8A878 0, #bdbbab 100%) !important;
}

.bg-t-fire-gradient {
    background: linear-gradient(87deg, #fb6340 0, #F08030 100%) !important;
}

.bg-t-fighting-gradient {
    background: linear-gradient(87deg, #C03028 0, #964440 100%) !important;
}

.bg-t-flying-gradient {
    background: linear-gradient(87deg, #A890F0 0, #6956a2 100%) !important;
}

.bg-t-poison-gradient {
    background: linear-gradient(87deg, #A040A0 0, #573666 100%) !important;
}

.bg-t-ground-gradient {
    background: linear-gradient(87deg, #E0C068 0, #ae9f0e 100%) !important;
}

.bg-t-rock-gradient {
    background: linear-gradient(87deg, #B8A038 0, #a88d6d 100%) !important;
}

.bg-t-bug-gradient {
    background: linear-gradient(87deg, #A8B820 0, #c9c017 100%) !important;
}

.bg-t-ghost-gradient {
    background: linear-gradient(87deg, #705898 0, #4c435c 100%) !important;
}

.bg-t-steel-gradient {
    background: linear-gradient(87deg, #B8B8D0 0, #6f6f83 100%) !important;
}

.bg-t-water-gradient {
    background: linear-gradient(87deg, #6890F0 0, #1e9ab3 100%) !important;
}

.bg-t-grass-gradient {
    background: linear-gradient(87deg, #78C850 0, #107f4f 100%) !important;
}

.bg-t-electric-gradient {
    background: linear-gradient(87deg, #F8D030 0, #a8a112 100%) !important;
}

.bg-t-psychic-gradient {
    background: linear-gradient(87deg, #F85888 0, #b92896 100%) !important;
}

.bg-t-ice-gradient {
    background: linear-gradient(87deg, #98D8D8 0, #5a8ca6 100%) !important;
}

.bg-t-dragon-gradient {
    background: linear-gradient(87deg, #7038F8 0, #f217bd 100%) !important;
}

.bg-t-dark-gradient {
    background: linear-gradient(87deg, #705848 0, #6b3030 100%) !important;
}

.bg-t-fairy-gradient {
    background: linear-gradient(87deg, #EE99AC 0, #c50f88 100%) !important;
}

.bg-t-none-gradient {
    background: linear-gradient(87deg, #68A090 0, #625698 100%) !important;
}